<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <app-navbar-hamburger-menu />
      </div>
      <app-navbar-side [links]="links()" />
    </div>
    <a routerLink="/" class="btn btn-ghost text-xl">Applied Angular</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <app-navbar-center [links]="links()" />
  </div>
  <div class="navbar-end">
    <app-login-status />
  </div>
</div>
